*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    display: flex;
    height: 100vh;
    margin: 50px;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background: linear-gradient(135deg,#71b7e6,#9b59b6);
}
.main{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 10px 30px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 20px;
    padding-bottom: 5px;
}
.main .head{
    font-size: 40px;
    font-weight: 500;
    position: relative;
    color: #9b59b6;
    margin-left: 150px;
 }  
 
.main .register{

    font-size: 20px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    position: relative;
   
    
}
.main form .user-detalis{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0 ;
}
form .user-detalis .input-box{

    margin-bottom: 15px;    
    width: calc(100% /2 - 20px);
}

.user-detalis .input-box input{

    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 2px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.user-detalis label .input-box{

    font-weight: 500px;
    margin-bottom: 15px;
} 
.user-detalis .input-box input:focus,
.user-detalis .input-box input:valid{
    
    border-color: #9b59b6;
}
form .gender-details .gender-tital{

    font-size: 20px;
    font-weight: 500;
}
form .gender-details .category{

    width: 30%;
    display: flex;
    margin: 14px 0;
    justify-content: space-between;
}
form .button{
    height: 50px;
    margin: 45px 0;
    justify-content: space-between;
}
form .button input{
    height: 90%;
    width: 20%;
    margin-right: 40px;
    margin-left: 100px;
    color: #fff;
    background: linear-gradient(135deg,#71b7e6,#9b59b6); 
    border: none;
    font-size: 18px;
    font-weight: 500;
}
form .button input:hover{

    background: linear-gradient(-135deg,#71b7e6,#9b59b6); 
}


